---
layout: null
title: "Stylesheet"
icon: "code"
---

$app-background: {{ page.appbackground }};
$card-background: {{ page.cardbackground }};
$theme-color: {{ page.themecolor }};
$themed-fore-color: {{ page.themedforecolor }};

@import "normalize";
@import "layout";
@import "icon";
@import "custom";
