---
layout: null
---
{{ site.time }}
<script>
{% assign depth = 0 %}
{% assign arr = "/" | split: "" %}
{% cpature currentMenu %}{% for i in arr offset: depth limit: 1 %}{{ i }}{% endfor %}{% endcapture %}
{% capture output %}[{% endcapture %}
{% for item in site.repositories %}
console.group("{{ item.url }}");
  {% for i in arr %}
console.log("for i in arr", { depth: "{{ depth }}", currentMenu: "{{ currentMenu }}" });
    {% if item.url contains currentMenu %}
      {% break %}
    {% else %}
      {% assign depth = depth | minus: 1 %}
      {% cpature currentMenu %}{% for i in arr offset: depth limit: 1 %}{{ i }}{% endfor %}{% endcapture %}
console.log("{{currentMenu}}")
{% capture output %}{{ output }}
null
]
},{% endcapture %}
    {% endif %}
  {% endfor %}
// console.groupEnd();
console.log({ depth: "{{ depth }}", currentMenu: "{{ currentMenu }}" });
  {% if item.next and (item.next.url contains item.url) %}
    {% assign depth = depth | plus: 1 %}
    {% assign arr[depth] = item.url %}
    {% cpature currentMenu %}{% for i in arr offset: depth limit: 1 %}{{ i }}{% endfor %}{% endcapture %}
{% capture output %}{{ output }}
{
  "title": "{{ item.title }}",
  "items": [{% endcapture %}
  {% elsif item.url contains currentMenu %}
  {% capture output %}{{ output }}
{
  "title": "{{ item.title }}"
},{% endcapture %}
  {% else %}
{% capture output %}{{ output }}
{
  "type": "ERROR",
  "currentMenu": "{{ currentMenu }}",
  "depth": "{{ depth }}",
  "title": "{{ item.title }}"
},{% endcapture %}
  {% endif %}
console.groupEnd();
{% endfor %}
{% for i in arr limit: depth %}
{% capture output %}{{ output }}
null
]
},{% endcapture %}
{% endfor %}
{% capture output %}{{ output }}
null
]{% endcapture %}
console.log({{ output }});
</script>
