<div class="widget">
  <h2>Repositories</h2>
{% highlight "json" %}
{% site.repositories | jsonify %}
{% endhighlight %}
  <ul class="menu">
{% assign depth = 0 %}
{% assign arr = [ "/" ] %}
{% assign currentMenu = "/" %}
{% for item in site.repositories %}
  {% if item.url contains currentMenu %}
    {% decrement depth %}
    {% assign currentMenu = arr[depth] %}
</ul></li>
  {% endif %}
  {% if item.next and item.next.url contains item.url %}
    {% increment depth %}
    {% assign arr[depth] = item.url %}
    {% assign currentMenu = item.url %}
<li>{{ item.url }}<ul>
  {% elsif item.url contains currentMenu %}
<li>{{ item.url }}</li>
  {% else %}
<li>ERROR DETECTED</li>
  {% endif %}
{% endfor %}
{% for i in arr %}
	{% unless forloop.index0 > depth %}
</ul></li>
	{% endunless %}
{% endfor %}
  </ul>
</div>
<!--<div class="widget">
  <h2>Pages</h2>
  <ul class="menu">
{% for post in site.html_pages %}
    <li class="menu-item{% if post.url == page.url%} current-menu-item{% endif %}"><a href="{{ post.url | absolute_url }}">{% if post.title %}{{ post.title }}{% else %}{{ post.url }}{% endif %}</a></li>
{% endfor %}
  </ul>
</div>
<div class="widget">
<h2>Posts</h2>
  <ul class="menu">
{% for post in site.posts %}
    <li class="menu-item{% if post.url == page.url%} current-menu-item{% endif %}"><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></li>
{% endfor %}
  </ul>
</div>
<hr />
<div class="widget">
  <p></p>
  <p>Stay up-to-date with my</p>
  <ul class="menu">
    <li class="menu-item"><a href="{{ "/feed.rss" | absolute_url }}">RSS-Feed</a></li>
    <li class="menu-item"><a href="{{ "/feed.atom" | absolute_url }}">Atom-Feed</a></li>
  </ul>
  <p>&copy; 2017 <a href="https://github.com/MPDieckmann">MPDieckmann</a></p>
</div>-->
