@font-face {
  font-family: 'materialtheme';
  src:  url('fonts/materialtheme.eot?sammun');
  src:  url('fonts/materialtheme.eot?sammun#iefix') format('embedded-opentype'),
    url('fonts/materialtheme.ttf?sammun') format('truetype'),
    url('fonts/materialtheme.woff?sammun') format('woff'),
    url('fonts/materialtheme.svg?sammun#materialtheme') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'materialtheme' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_left:before {
  content: "\10000";
}
.icon-arrow_down:before {
  content: "\10001";
}
.icon-arrow_right:before {
  content: "\10002";
}
.icon-arrow_up:before {
  content: "\10003";
}
.icon-keyboard_arrow_left:before {
  content: "\10004";
}
.icon-keyboard_arrow_down:before {
  content: "\10005";
}
.icon-keyboard_arrow_right:before {
  content: "\10006";
}
.icon-keyboard_arrow_up:before {
  content: "\10007";
}
.icon-code:before {
  content: "\10008";
}
.icon-undo:before {
  content: "\10009";
}
.icon-redo:before {
  content: "\1000a";
}
.icon-add:before {
  content: "\1000b";
}
.icon-add_circle:before {
  content: "\1000c";
}
.icon-add_circle_outline:before {
  content: "\1000d";
}
.icon-remove:before {
  content: "\1000e";
}
.icon-remove_circle:before {
  content: "\1000f";
}
.icon-remove_circle_outline:before {
  content: "\10010";
}
.icon-check:before {
  content: "\10011";
}
.icon-check_circle:before {
  content: "\10012";
}
.icon-check_circle_outline:before {
  content: "\10013";
}
.icon-check_all:before {
  content: "\10014";
}
.icon-check_box:before {
  content: "\10015";
}
.icon-check_box_checked:before {
  content: "\10016";
}
.icon-radio_button:before {
  content: "\10017";
}
.icon-radio_button_checked:before {
  content: "\10018";
}
.icon-close:before {
  content: "\10019";
}
.icon-close_circle:before {
  content: "\1001a";
}
.icon-close_circle_outline:before {
  content: "\1001b";
}
.icon-error:before {
  content: "\1001c";
}
.icon-error_circle:before {
  content: "\1001d";
}
.icon-error_circle_outline:before {
  content: "\1001e";
}
.icon-report:before {
  content: "\1001f";
}
.icon-warning:before {
  content: "\10020";
}
.icon-info:before {
  content: "\10021";
}
.icon-info_circle:before {
  content: "\10022";
}
.icon-info_circle_outline:before {
  content: "\10023";
}
.icon-help:before {
  content: "\10024";
}
.icon-help_circle:before {
  content: "\10025";
}
.icon-help_circle_outline:before {
  content: "\10026";
}
.icon-favorite:before {
  content: "\10027";
}
.icon-favorite_outline:before {
  content: "\10028";
}
.icon-mail:before {
  content: "\10029";
}
.icon-mail_outline:before {
  content: "\1002a";
}
.icon-label:before {
  content: "\1002b";
}
.icon-label_outline:before {
  content: "\1002c";
}
.icon-account:before {
  content: "\1002d";
}
.icon-account_outline:before {
  content: "\1002e";
}
.icon-account_box:before {
  content: "\1002f";
}
.icon-account_circle:before {
  content: "\10030";
}
.icon-account_add:before {
  content: "\10031";
}
.icon-group:before {
  content: "\10032";
}
.icon-group_outline:before {
  content: "\10033";
}
.icon-group_add:before {
  content: "\10034";
}
.icon-notifications:before {
  content: "\10035";
}
.icon-notifications_outline:before {
  content: "\10036";
}
.icon-notifications_active:before {
  content: "\10037";
}
.icon-notifications_off:before {
  content: "\10038";
}
.icon-notifications_add:before {
  content: "\10039";
}
.icon-notifications_paused:before {
  content: "\1003a";
}
.icon-dislike:before {
  content: "\1003b";
}
.icon-like:before {
  content: "\1003c";
}
.icon-reactions:before {
  content: "\1003d";
}
.icon-file_download:before {
  content: "\1003e";
}
.icon-file_upload:before {
  content: "\1003f";
}
.icon-search:before {
  content: "\10040";
}
.icon-zoom_in:before {
  content: "\10041";
}
.icon-zoom_out:before {
  content: "\10042";
}
.icon-fullscreen:before {
  content: "\10043";
}
.icon-fullscreen_exit:before {
  content: "\10044";
}
.icon-chat_bubble:before {
  content: "\10045";
}
.icon-chat_bubble_outline:before {
  content: "\10046";
}
.icon-chat_bubbles:before {
  content: "\10047";
}
.icon-gear:before {
  content: "\10048";
}
.icon-tune:before {
  content: "\10049";
}
.icon-build:before {
  content: "\1004a";
}
.icon-menu:before {
  content: "\1004b";
}
.icon-more_horiz:before {
  content: "\1004c";
}
.icon-more_vert:before {
  content: "\1004d";
}
.icon-attach_file:before {
  content: "\1004e";
}
.icon-copy:before {
  content: "\1004f";
}
.icon-cut:before {
  content: "\10050";
}
.icon-paste:before {
  content: "\10051";
}
.icon-save:before {
  content: "\10052";
}
.icon-delete:before {
  content: "\10053";
}
.icon-delete_forever:before {
  content: "\10054";
}
.icon-folder:before {
  content: "\10055";
}
.icon-folder_outline:before {
  content: "\10056";
}
.icon-folder_shared:before {
  content: "\10057";
}
.icon-folder_special:before {
  content: "\10058";
}
.icon-file:before {
  content: "\10059";
}
.icon-format_align_left:before {
  content: "\1005a";
}
.icon-format_align_center:before {
  content: "\1005b";
}
.icon-format_align_right:before {
  content: "\1005c";
}
.icon-format_align_justify:before {
  content: "\1005d";
}
.icon-format_bold:before {
  content: "\1005e";
}
.icon-format_italic:before {
  content: "\1005f";
}
.icon-format_underline:before {
  content: "\10060";
}
.icon-format_strikethrough:before {
  content: "\10061";
}
.icon-format_clear:before {
  content: "\10062";
}
.icon-format_size:before {
  content: "\10063";
}
.icon-format_color_text:before {
  content: "\10064";
}
.icon-format_color_fill:before {
  content: "\10065";
}
.icon-format_indent_decrease:before {
  content: "\10066";
}
.icon-format_indent_increase:before {
  content: "\10067";
}
.icon-format_line_spacing:before {
  content: "\10068";
}
.icon-format_list_bulleted:before {
  content: "\10069";
}
.icon-format_list_numbered:before {
  content: "\1006a";
}
.icon-format_quote:before {
  content: "\1006b";
}
.icon-security:before {
  content: "\1006c";
}
.icon-verified:before {
  content: "\1006d";
}
.icon-watch:before {
  content: "\1006e";
}
.icon-unwatch:before {
  content: "\1006f";
}
.icon-grid:before {
  content: "\10070";
}
.icon-block:before {
  content: "\10071";
}
.icon-palette:before {
  content: "\10072";
}
.icon-copyright:before {
  content: "\10073";
}
.icon-extension:before {
  content: "\10074";
}
.icon-insert_emoticon:before {
  content: "\10075";
}
.icon-external_link:before {
  content: "\10076";
}
.icon-rss_feed:before {
  content: "\10077";
}
.icon-send:before {
  content: "\10078";
}
.icon-share:before {
  content: "\10079";
}

